.container{
	padding:0 20px;
	max-width: 800px;
	display:flex;
	flex-direction: column;
	margin:0 auto;
}

.header{
	display:flex;
	display:flex;
}
.header > a {
	text-align: center;
	align-items: center;
	color: rgb(229,9,20);
	font-size: 20px;
	text-decoration: none;
	line-height: 60px;
}