.searchbar_container{
	display:flex;
	gap: 10px;
	margin-bottom: 20px;
}

.searchbar_container input{
	flex: 1;
	padding: 15px;
	border-radius: 5px;;
	background:rgb(0,0,0);
	color:rgb(255,255,255);
	border:rgb(75,75,75) 1px solid ;
}

.searchbar_container button{
	width: 80px;
	border-radius: 5px;
	border:none;
background:rgb(255,255,255);
	color:rgb(0,0,0);
	background:gray;
}