.container{
	display:flex;
	flex-direction: column;
	gap: 10px;
}

.poster_img_container{
	display:flex;
	justify-content: center;
	padding: 20px;

	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;

	position:relative;
}

.poster_img_container::before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.poster_img_container > img{
	z-index:1;
	max-height: 350px;
	height:100%;
}

.title{
	font-size: large;
	font-weight:bold;
}

.subTitle{
	font-size: medium;
	font-weight:bold;
	margin-top: 5px;
	margin-bottom: 15px;
}

.description{
	line-height: 1.3;
	white-space: pre-line;
	border-radius: 5px;
}